/* Style sheet
   color picker www.w3schools.com/colors/colors_picker.asp
*/

html {
  background-color: white;
}
 
body {
  background-color: RGB(205,205,205); /* Light Grey */
  border-radius:10px;
  width: 600px;
  border: 1px solid black;
  padding: 20px;
  margin:auto;
  font-family:sans-serif;
}

h1 {
	text-align: center;
	margin: 0;
	padding: 20px 0;
	color: #FF0000;  /* Red */
	font-family: monospace;
}

img {
  display: block;
  margin: 0 auto;
  text-align: center;
}

p {
  color: #000000); /* Red */
}

table {
	border: 1px solid black;
	background-color: #f1f1c1;
}

/* Defining styling for a specific element type - each question */
.question {
  /*background-color: black;*/
  color: black;
  margin: 20px;
  padding: 20px;
}


/* Defining styling for a specific element with an id */
#signature {
  text-align: right;
  color: rgb(162, 0, 255);
  font-style: italic;
  font-size: 75%;
}
#input {
  width:200px;
  padding:5px;
  border-radius:5px;
}

