/* Style sheet
   color picker www.w3schools.com/colors/colors_picker.asp
*/

html {

}
 
body {
  background-color: rgb(253, 221, 209);
  width: 900px;
  padding: 20px;
  margin:auto;
  font-family:sans-serif;
  scroll-behavior: smooth;
}

.tab{
	width: 10px;
}

h1 {
	text-align: center;
	margin: 0;
	padding-top: 25px;
  font-weight: bold;
}


h2 {
  font-size: 17px;
  font-weight: bold;
}

label {
  font-size: 16px;
}

p {
  font-size: 16px;
}


table {
	border: 1px solid black;
	background-color: #f1f1c1;
}

/* Defining styling for a specific element type - each question */
.question {
  /*background-color: black;*/
  color: black;
  margin: 20px;
  padding: 20px;
}
.picture {
  display: block;
  margin: 0 auto;
  text-align: center;
  width:450px;
  height:300px;
}
.zoomonpicture {
	position: absolute;
	width: 0px;
}
.picture:hover + .zoomonpicture{
	width:1000px;
}

/* Defining styling for a specific element with an id */
#signature {
  text-align: right;
  font-style: italic;
  font-size: 75%;
}
#input {
  width:200px;
  padding:5px;
  border-radius:5px;
}


input[type="radio"] {
  margin-right: 10px;
}

input[type="checkbox"] {
  margin-right: 10px;
}

input[type="button"] {
    background-color: black;
    border: none;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
}